.cart-wrapper {
	max-width: 820px;
	margin: 0 auto;
	width: 100%;
	margin-top: 54px;
	.cart-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
		&-left {
			display: flex;
			gap: 17px;
			align-items: center;
			h3 {
				font-weight: 700;
				font-size: 25px;
				line-height: 39px;
				letter-spacing: 0.01em;
				color: #000000;
			}
		}
		&-right {
			display: flex;
			gap: 7px;
			align-items: center;
			h4 {
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				color: #b6b6b6;
			}
		}
	}
	// products items
	.product-items {
		.product-cart {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 30px 0;
			border: 1px solid #f6f6f6;
			border-right: none;
			border-left: none;
			.product-item {
				display: flex;
				align-items: center;
				gap: 15px;
				img {
					max-width: 80px;
				}
				div {
					p {
						font-weight: 800;
						font-size: 20px;
						line-height: 24px;
						letter-spacing: 0.01em;
						color: #000000;
						margin-bottom: 3px;
					}
					span {
						font-weight: 400;
						font-size: 18px;
						line-height: 22px;
						letter-spacing: 0.01em;
						color: #8d8d8d;
					}
				}
			}
			.product-count {
				display: flex;
				align-items: center;
				gap: 12px;
				p {
					font-weight: 700;
					font-size: 22px;
					line-height: 27px;
					letter-spacing: 0.01em;
					color: #000000;
				}
				div {
					width: 32px;
					height: 32px;
					border: 1px #ff0064 solid;
					background-color: none;
					color: #ff0064;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					cursor: pointer;
					align-items: center;
					font-weight: 900;
				}
			}
			.product-price {
				display: flex;
				align-items: center;
				gap: 94px;
				p {
					font-weight: 700;
					font-size: 22px;
					line-height: 27px;
					letter-spacing: 0.01em;
					color: #000000;
				}
				div {
					width: 32px;
					height: 32px;
					border: 1px #b6b6b6 solid;
					background-color: none;
					color: #b6b6b6;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					cursor: pointer;
					align-items: center;
					font-weight: 900;
				}
			}
		}
	}
	.product-footer {
		.product-total {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 40px 0;
			&__count {
				display: flex;
				align-items: center;
				gap: 5px;
				p {
					font-weight: 400;
					font-size: 22px;
					line-height: 27px;
					letter-spacing: 0.01em;
					color: #000000;
				}
				span {
					font-weight: 700;
					font-size: 20px;
					line-height: 24px;
					letter-spacing: 0.01em;
					color: #000000;
				}
			}
			&__price {
				display: flex;
				align-items: center;
				gap: 5px;
				p {
					font-weight: 400;
					font-size: 22px;
					line-height: 27px;
					letter-spacing: 0.01em;
					color: #161616;
				}
				span {
					font-weight: 700;
					font-size: 22px;
					line-height: 27px;
					letter-spacing: 0.01em;
					color: #ff0064;
				}
			}
		}
		.payment-btns {
			display: flex;
			justify-content: space-between;
			// a {
			//   background: none;
			//   font-weight: 400;
			//   font-size: 16px;
			//   line-height: 19px;
			//   text-align: center;
			//   color: #CACACA;
			//   padding: 18px 60px;
			//   border-radius: 30px;
			//   border: 1px solid;
			// }// &__pay {
			//   padding: 18px 60px;
			//   font-weight: 700;
			//   font-size: 16px;
			//   line-height: 19px;
			//   text-align: center;
			//   color: #FFFFFF;
			//   background: #FF0064;
			//   border-radius: 30px;
			//   border: none;
			//   cursor: pointer;
			// }
		}
	}
}

// .cart-wrapper {
//   max-width: 794px;
//   width: 100%;
//   margin: 0 auto;
//   &__header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 61px;
//     &-left {
//       display: flex;
//       gap: 18px;
//       align-items: center;
//       h2 {
//         font-weight: 700;
//         font-size: 32px;
//         line-height: 39px;
//         letter-spacing: 0.01em;
//         color: #000000;
//       }
//       p {
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 19px;
//         color: #B6B6B6;
//       }
//     }
//     &-right {
//       p {
//         font-size: 16px;
//         line-height: 19px;
//         color: #B6B6B6;
//       }
//     }
//   }
//   .total-products {
//     display: flex;
//     flex-direction: column;
//     gap: 61px;
//     &__item {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       .product-charact {
//         display: flex;
//         gap: 15px;
//         align-items: center;
//       }
//       img {
//         max-width: 80px;
//         width: 100%;
//       }
//       .product-info {
//         p {
//           font-weight: 800;
//           font-size: 20px;
//           line-height: 24px;
//           letter-spacing: 0.01em;
//           color: #000000;
//         }
//         span {
//           font-weight: 400;
//           font-size: 18px;
//           line-height: 22px;
//           letter-spacing: 0.01em;
//           color: #8D8D8D;
//         }
//       }
//       .product-count {
//         display: flex;
//         gap: 12px;
//         align-items: center;
//         &__circle {
//           width: 32px;
//           border: 2px #ff0064 solid;
//           background-color: none;
//           border-radius: 50%;
//           display: flex;
//           justify-content: center;
//           padding: 2px;
//           cursor: pointer;
//           p {
//             color: #ff0064;
//           }
//         }
//       }
//       .product-price {
//         font-weight: 700;
//         font-size: 22px;
//         line-height: 27px;
//         letter-spacing: 0.01em;
//         color: #000000;
//       }
//       .cancel-circle {
//         background: #FFFFFF;
//         border: 2px solid #D7D7D7;
//         width: 32px;
//         border-radius: 50%;
//         display: flex;
//         justify-content: center;
//         padding: 2px;
//         cursor: pointer;
//         p {
//           color: #D7D7D7;
//         }
//       }
//     }
//   }
// }

// .empty-card-wrapper {
//   max-width: 340px;
//   margin: 0 auto;
//   width: 100%;
//   text-align: center;
//   h1 {
//     font-weight: 700;
//     font-size: 32px;
//     line-height: 39px;
//     letter-spacing: 0.01em;
//     color: #000000;
//   }
//   p {
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 145.4%;
//     letter-spacing: 0.01em;
//     color: #777777;
//   }
//   button {
//     padding: 14px 40px;
//     color: #fff;
//     background: #282828;
//     border-radius: 30px;
//     border: none;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 19px;
//     text-align: center;
//     letter-spacing: 0.015em;
//   }
// }
